<% provide(:title, 'About') %>
<div class="well span9 center">
	<h1>About Us</h1>
	<br>
	<p>The Game Development Society at UNSW is a relatively new, 300+ member student run society that aims to facilitate a social and educational 
	environment for students of all disciplines who have an interest in game development.</p>
	<br>
	We currently conduct:
	<br><br>
	<ul>
		<li>
			Workshops for people of varying skill sets and skill levels. Sound design, Art, and Coding are all covered in our workshops. We take care to make sure that even members who have no idea about game development are able to build up enough skills to confidently work on their own projects.
		</li>
		<li>
			Social events such as LAG (Local Area Gaming) Parties, Startup Days and other more laid back gatherings where members can mingle and get to know each other (and hopefully meet future team members!). 
		</li>
	</ul>
	<br>
	So if you aren’t a member yet, what are you waiting for? Head on over to the <a href="<%= signup_path %>">Sign Up</a> page and find out about how you can join!
</div>
