<% provide(:title, 'Showcase') %>
<div class="row">
	<div class="well">
		<h1>Games Showcase</h1>
		<div style="text-align:center">
			This section is currently under construction!
		</div>
	</div>
</div>
