<% provide(:title, 'Signup') %>
<div class="row">
   <% #Well with Facebook link for low resolutions %>
   <div class="span4 visible-phone">
      <div class="well">
         <div align="center">
            <p>
            <h3>While you're here...</h3>
            <a href="https://www.facebook.com/groups/185233411589007/" target="_blank">
               <button class="btn-large btn-facebook"><i class="fa fa-facebook"></i> | Join us on Facebook!</button>   </p>
            </a>
         </div>
      </div>
   </div>
</div>

<div class="row">
   <% #Well with Facebook link For high resolutions %>
   <div class="span4 hidden-phone", style="float:right;">
      <div class="well side-well">
         <div align="center">
            <p>
            <h3>While you're here...</h3>
            <a href="https://www.facebook.com/groups/185233411589007/" target="_blank">
               <button class="btn-large btn-facebook"><i class="fa fa-facebook"></i> | Join us on Facebook!</button>   </p>
            </a>
         </div>
      </div>
   </div>


   <% #Well with the Signup sheet %>
   <div class="span8">
      <div class="well">
         <h1>How to Sign Up</h1>
         <div class="well instruction-well">
            <ol>
               <li>If you are not a current ARC member, or have not signed up for OrgSync
               click <a href="https://orgsync.com/register/university-of-new-south-wales">here</a>
               (Don't worry, it's free to join!)</li><br>
               <li>After you have created an OrgSync account, log in to OrgSync</li><br>
               <li>Click the search bar at the top of the page and type in "Game Development Society"</li><br>
               <li>Click on the "Game Development Society" organization when it appears in the search results</li><br>
               <li>Click the "Join Club" button the left hand side of the page, and wait for
               one of the Executive Members to approve your request! (We won't say no, promise!)</li><br>
            </ol>
            <p style="text-align:center;"><b><h2>If you have any further questions<br> 
                  <a href="mailto:gamedevsoc.unsw@gmail.com">shoot us an email!</a></h2><b></p>
         </div>
      </div>
   </div>
</div>
