<% provide(:title, 'Signup') %>

<% #Well with the Signup sheet %>
<div class="span11">
   <div class="well", align="center">
      <iframe src="https://docs.google.com/forms/d/1kY5ghdSdPO5iOKmnkymrsTB0vrGwD8IqX7DuZxT-X18/viewform?embedded=true" width="760" height="1208" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>
   </div>
</div>

<% #Well with Facebook link %>
<div class="span2">
   <div class="well side-well">
      <div class="gform", align="center">
         <p>
         <h3>While you're here...</h3>
         <a href="https://www.facebook.com/groups/185233411589007/" target="_blank">
            <button class="btn-large btn-facebook"><i class="fa fa-facebook"></i> | Join us on Facebook!</button>   </p>
         </a>
      </div>
   </div>
</div>
