<% provide(:title, 'Home') %>
<div class="gform", align="center">
   <iframe src="https://docs.google.com/forms/d/1kY5ghdSdPO5iOKmnkymrsTB0vrGwD8IqX7DuZxT-X18/viewform?embedded=true" width="760" height="1208" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>
</div>
