<% @var = @user
   @var ||= @post
   
   if @var.errors.any? 
%>
  <div id="error_explanation">
    <div class="alert alert-error">
      The form contains <%= pluralize(@var.errors.count, "error") %>.
    </div>
    <ul>
    <% @var.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>
