<footer class="footer">
   <div class="well">
      <div class="contact">
         <b>
            Contact us <a href="mailto:gamedevsoc.unsw@gmail.com">here</a>
         </b>
         <br>
         <a href="https://www.facebook.com/groups/185233411589007/" target="_blank">
            <button class="btn-tiny btn-facebook", align="right"><i class="fa fa-facebook"></i></button>
         </a> 
      </div>
      <small>
         <b>Maintained by The Cool GDS Exec</b>
      </small>
   </div>
</footer>
